* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: 1.3s cubic-bezier(.05, .5, 0, 1);
}

@font-face {
  font-family: kamerik-3d;
  src: url('../fonts/kamerik205-heavy.woff2');
  font-weight: 900;
}
@font-face {
  font-family: merriweather-italic-3d;
  src: url('../fonts/merriweather-regular-italic.woff2');
}

body {
  font-family: kamerik-3d;
  color: #fff;

  background-color: #000;
}

.logo {
  --logo-size: calc(var(--index) * 7.8);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--index) * 2.8);
  z-index: 1;

  width: var(--logo-size);
  height: var(--logo-size);

  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
}

.layers {
  perspective: 1000px;
  overflow: hidden;
}

.layers__container {
  height: 100vh;
  min-height: 500px;

  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: transform;
  transition: transform var(--transition);
}

.layers__item {
  position: absolute;
  inset: -5vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

.layer-1 {
  background-image: url('../img/layer-1.jpg');
  transform: translateZ(-55px) scale(1.06);
}

.layer-2 {
  background-image: url('../img/layer-2.png');
  transform: translateZ(80px) scale(.88);
}

.layer-3 {
  transform: translateZ(180px) scale(.8);
}

.layer-4 {
  transform: translateZ(190px) scale(.9);
}

.layer-5 {
  background-image: url('../img/layer-5.png');
  transform: translateZ(300px) scale(.9);
}

.layer-6 {
  background-image: url('../img/layer-6.png');
  transform: translateZ(380px);
}

.hero-content {
  margin-top: calc(var(--index) * 5.5);

  font-size: calc(var(--index) * 2.9);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * -.15);
  line-height: 1.35em;
}

.hero-content span {
  display: block;
}

.hero-content__p {
  font-family: merriweather-italic-3d;
  text-transform: none;
  letter-spacing: normal;
  font-size: calc(var(--index) * .73);
  line-height: 3;
}

.button--start {
  margin-top: calc(var(--index) * 2.5);
  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--index) * .7);
  letter-spacing: -.02vw;
  padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
  background-color: transparent;
  color: #fff;
  border-radius: 10em;
  border: 3px solid rgba(255, 255, 255, 0.4);
  outline: none;
  cursor: pointer;
}

.layer-4,
.layer-5,
.layer-6 {
  pointer-events: none;
}